%ul.features
  %li
    %h1 Pickle
    :markdown
      My middleman starting point using Haml and Sass (scss). [View Project](https://github.com/RyanParsley/Pickle)
  %li
    %h1 Blues Calculator
    :markdown
      A calculator for deriving the minor blues progression from a provided root note. It was made with CoffeeScript and Middleman. [View Project](https://github.com/RyanParsley/bluesCalculator).
  %li
    %h1 Sass Buttons
    :markdown
      I'm starting to collect the code I use to make buttons in different projects. I'm looking for patterns and hoping to elemenate redundancy.[View Project](https://github.com/RyanParsley/buttons).
  %li
    %h1 Feature 4
    :markdown
      This is the source for http://craftyblues.com a blog about cigar box guitars. This blog is powered by Middleman. [View Project](https://github.com/RyanParsley/craftyBlues).
