%footer
  .container
    .first
      %h1 More info
      = partial "layouts/partials/product_nav"
      
    .second
      %h1 Elsewhere
      = partial "layouts/partials/external_nav"
      
    .third
      %h1 Keep in touch
      :markdown
        If you find this helpful or have suggestions on how I can improve, please [contact me](http://ryanparsley.com/contact).
